* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    height: 100vh;
   background-image: url("./img/bg/morning.jpg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
  }

  .card {
    width: 420px;
    padding: 2rem 2rem;
    border-radius: 40px;
    background: rgba(58, 58, 100, 0.2);
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    backdrop-filter: blur(40px);
    overflow: hidden;
  }
 
  #status {
    position: absolute;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
    width: 74%;
    padding: 4px 8px;
    border-radius: 8px;
    background: rgba(255, 63, 63, 0.4);
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    color: white;
    transition: 0.5s;
  }
  
  .search {
    position: relative;
    margin-bottom:0.25rem;
  }
 
  .search-bar {
    position: relative;
    width: 100%;
    border: 2px;
    margin-top: 6px ;
    outline: none;
    border-radius: 10px;
    border-color: black;
    height: 30px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    background: rgba(95, 81, 81, 0.1);
    opacity: 0.8;
    transition: opacity 0.2s;
  }
  
  .search-bar:hover,
  .search-bar:focus {
    opacity: 1;
    background: rgba(11, 11, 44, 0.2);
  }
  
  .search button {
    position: absolute;
    right: 0px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
  }
  .search button:hover {
    background: rgba(15, 15, 30, 0.2);
  }
  
  .region {
    margin-bottom: 0.1rem;
  }
  
  #city {
    font-size: 40px;
    margin-bottom: 0.3rem;
  }
  
  .weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom:0.2rem;
  }
  
  #description {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  #temp {
    font-size: 90px;
    margin:4rem ;
  }
  
  .details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-size: 18px;
  }
  .details > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    transition: opacity 1s;
    overflow: hidden;
  }
  .details * span {
    display: block;
  }
  .description {
    text-transform: capitalize;
  }
  
  /* loader */
  
  #loading {
    position: absolute;
    top: 6px;
    right: 60px;
    width: 28px;
    height: 28px;
    border: 4px solid #f3f3f3;
    border-top: 4px dotted transparent;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    opacity: 0.7;
   animation: spin 1s infinite linear;
  }
  
  #loading.display {
    visibility: visible;
  }
 
  .skeleton-loader {
    height: 1.5em;
    width: 2em;
    margin: 0 auto;
    border-radius: 6px;
  }
 
  #temp.skeleton-loader {
    font-size: 60px;
    width: 50%;
  }
  .error-symbol {
    width: 200px;
    margin: 0.1rem;
    filter: invert();
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
